node_modules
npm-debug.log
.git
.gitignore
.env
.DS_Store
*.md
README.md
.vscode
.idea
dist
dist-ssr
*.local
uploads
terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
DOCUMENTATION
client/node_modules
client/dist
