version: '3.8'
services:
  localhost:
    build: ./api
    container_name: myapp-api
    ports:
      - "5000:5000"
    env_file:
      - ./api/.env
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URL=mongodb+srv://myAtlasDBUser:Bhk%402005%2F@myatlasclusteredu.u7d4pbu.mongodb.net/event?retryWrites=true&w=majority&appName=myAtlasClusterEDU
      - JWT_SECRET=75565b40ef36efea6ce2ba97bd825407341aa6c60c0bdd308edc1a6ecffdaa7246a61f05e89472d0ca07655bf5134f13bad2d6277a397552e492f56c36daaad9
    depends_on:
      - client
    networks:
      - app-network

  client:
    build: ./client
    container_name: myapp-client
    ports:
      - "3000:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge